body{
    background-color: lemonchiffon;
    margin: 2.5cm;
    margin-top: 5%;
    margin-bottom: 0%;
}

.nav{
    background-color: lemonchiffon;
}

footer{
    text-align: right;
    font-size: 15px;
    color: black;
    margin-bottom: 0%;
}

a{
    display: inline-block;
    background-color:royalblue;
    width: fit-content;
    font-size: 17px;
}

a:visited{
    display: inline-block;
    background-color:royalblue;
    width: fit-content;
    font-size: 17px;
}

a:hover, a:focus {
    display: inline-block;
    background-color:royalblue;
    width: fit-content;
    font-size: 17px;
}